.card {
  /* width: 500px; */
  width: 100%;
  max-width: 500px;

  /*  */
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-grey);
  border-radius: 16px;
  text-decoration: none;
  margin-bottom: 24px;
  background-color: var(--main-bg-color);
}

.description {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 12px;
}

.title {
  color: var(--main-dark-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.subtitle {
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}

@media (max-width: 960px) {
  .card {
    width: 100%;
    padding: 16px 24px;
  }

  .card:last-of-type {
    margin-bottom: 32px;
  }
}


@media (max-width: 540px) {
  .card {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 24px;
  }

  .icon {
    margin-right: 10px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .arrow {
    flex-shrink: 0;
  }
}