.card {
  width: 500px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-grey);
  border-radius: 16px;
  text-decoration: none;
  margin-bottom: 24px;
  background-color: var(--main-bg-color);
}

.description {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 12px;
}

.title {
  color: var(--main-dark-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.subtitle {
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}