.card {
  display: flex;
  flex-direction: column;
}

.card h4 {
  color: var(--main-dark-color);
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
}

.whyVexa {
  width: 260px;
  padding: 8px 0 22px 0;
  align-items: center;
  justify-content: center;

  img {
    width: 60px;
    height: 46px;
    margin-bottom: 24px;
  }

  h4 {
    font-weight: 700;
    line-height: auto;
  }

  p {
    width: 174px;
    color: var(--secondary-grey);
    line-height: auto;
    letter-spacing: 0%;
  }
}

.whyBecomeAuthor {
  border: 1px solid var(--border-grey);
  border-radius: 16px;
  padding: 24px;
  align-items: flex-start;

  img {
    align-self: center;
    margin-bottom: 20px;
    width: 44px;
    height: 44px;
  }

  h4 {
    font-weight: 600;
    line-height: 28px;
  }

  p {
    color: var(--main-dark-color);
    line-height: 24px;
  }
}

.howItWorks {
  position: relative;
  width: 300px;
  border-radius: 16px;
  background: var(--footer-bg-color);
  padding: 24px;
  text-align: center;

  img {
    width: 46px;
    height: 46px;
    margin-bottom: 24px;
  }

  h4 {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
  }

  p {
    color: var(--main-dark-color);
    line-height: 24px;
  }

  .decorImage {
    position: absolute;
    left: 58px;
    top: 34px;
    width: 24px;
    height: 24px;
  }

  .arrow {
    position: absolute;
    right: -64px;
    top: 50%;
    transform: translateY(-50%);

    width: 34px;
    height: 26px;
    margin: 0;
  }
}

.whatPublishing {
  position: relative;
  width: 230px;
  height: stretch;
  border: 1px solid var(--border-grey);
  border-radius: 16px;
  padding: 24px;
  text-align: center;

  img {
    width: 180px;
    height: 134px;
    margin-bottom: 20px;
  }

  h4 {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
  }

  p {
    color: var(--main-dark-color);
    line-height: 24px;
  }

  .decorImage {
    position: absolute;
    left: 58px;
    top: 34px;
    width: 24px;
    height: 24px;
  }
}

.whatCanPublishing {
  position: relative;
  min-width: 300px;
  height: stretch;
  padding: 0 24px;
  text-align: center;

  img {
    width: 46px;
    height: 46px;
    margin-bottom: 26px;
  }

  h4 {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
  }

  p {
    color: var(--main-dark-color);
    line-height: 24px;
  }
}

.whatYouCanLearn {
  position: relative;
  /* width: 300px; */
  min-width: 300px;
  width: 100%;
  height: stretch;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  align-items: center;
  border: 1px solid var(--border-grey);
  border-radius: 16px;
  padding: 24px 6px;
  justify-content: flex-start;

  img {
    width: 46px;
    height: 46px;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: start;
  }
}

.small {}

.medium {}

.whyVexa {

}



