:root {
  --main-bg-color: #fff;
  --white-color: #fff;
  --main-dark-color: #000000;
  --purple-color: #5E25FE;
  --border-grey: #C6C7CE;
  --secondary-grey: #8A8F98;
  --accessory-grey: #DFE0E4;
  --secondary-purple: #E7DEFF;
  --footer-bg-color: #F3EEFF;
  --accessory-purple: #4F1EE3;
  --adjuvant-purple: #4317C9;
  --error: #e5484d;
  --success-color: #268744;
  --success-bg-color: #edf8f0;
  --error-dark-color: #c43b3b;
  --error-border-color: #d32f2f;
  --error-bg-color: #fff0f0;
  --success-border-color: #2e7d32;
  --success-option-bg-color: #edf7ed;
  --warning-bg-color: #fff4e5;
}
