:root {
  --main-bg-color: #fff;
  --white-color: #fff;
  --main-dark-color: #000000;
  --purple-color: #5E25FE;
  --border-grey: #C6C7CE;
  --secondary-grey: #8A8F98;
  --accessory-grey: #DFE0E4;
  --secondary-purple: #E7DEFF;
  --footer-bg-color: #F3EEFF;
  --accessory-purple: #4F1EE3;
  --adjuvant-purple: #4317C9;
}

div {
  justify-content: space-between;
  align-items: center;
}